@font-face {
  font-family: "SaudiFont";
  src: url("../public/alfont_com_RTL-Saudi-Bold.ttf");
}

:root {
  --black: #181c14;
  --dark-gray: #3c3d37;
  --gray: #697565;
  --light-pink: #ecdfcc;
  --white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: "Cairo", sans-serif;
  color: var(--black);
  font-size: 1rem;
}

.app-wrapper {
  min-height: 100vh;
  border-bottom: 0.5rem solid var(--black);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

.genres-btn,
.card-overlay h2,
.pagination .page-item .page-link,
.movie-details h2 strong {
  color: var(--black);
}

.main-header,
ul.pagination .page-item.active .page-link,
.not-found button:hover,
.not-found button:focus,
.go-home button:hover,
.go-home button:focus {
  background-color: var(--black);
}

.main-header a,
.card-overlay time,
.card-overlay section,
ul.pagination .page-item.active .page-link,
.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus,
.not-found button,
.go-home button,
.not-found button:hover,
.not-found button:focus,
.go-home button:hover,
.go-home button:focus {
  color: var(--light-pink);
}

.search input,
.search input:focus,
.genres-btn,
.movie-card,
ul.pagination .page-item.active .page-link,
.movie-img-container {
  border: 1px solid var(--black);
}

.genres-btn,
.movie-card,
.movie-img-container {
  background-color: var(--white);
}

.genres-btn,
.movie-card {
  cursor: pointer;
}

.genres-btn.active,
.card-overlay,
.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus,
.not-found button,
.go-home button {
  background-color: var(--dark-gray);
}

.genres-btn.active,
.badge {
  color: var(--white);
}

.card-overlay h2,
.app-wrapper {
  background-color: var(--light-pink);
}

.movie-details h2 time,
.movie-details footer h4 + p,
.movie-details footer h4 + time {
  color: var(--gray);
}
/* ==========================
        Header
============================ */
.main-header a {
  font-family: "SaudiFont";
}

.main-header .logo {
  width: 3rem;
}

/* ==========================
        MoviesSearch
============================ */
.search input {
  width: 75%;
  text-indent: 1em;
}

.search input:focus {
  box-shadow: 0px 0px 4px var(--black);
  outline: none;
}

/* ==========================
        GeneresFilter
============================ */
.genres-btn {
  margin: 0.3em 0.35em;
  padding: 0.2em 0.55em;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}

.genres-btn:hover {
  box-shadow: 3px 3px 0px 0px var(--black);
}

/* ==========================
        MoviesList
============================ */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13.4rem, 0.65fr));
  grid-auto-rows: 25rem;
}

/* ==========================
        CardMovie
============================ */
.card-img {
  background-size: contain;
}

.card-overlay {
  opacity: 0;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.card-overlay h2 {
  margin-top: 3.5rem;
  border: 2px dashed var(--black);
}

.card-overlay time {
  font-size: 0.85rem;
  width: fit-content;
  margin-right: auto;
  margin-left: 5%;
}

.card-overlay .vote {
  width: 4rem;
  height: 4rem;
  bottom: 6%;
  left: 4%;
}

.movie-card a:hover .card-overlay {
  opacity: 0.9;
}

.badge {
  background-color: var(--gray);
  padding: 0.5em 0.8em;
  display: block;
  font-size: 0.8rem;
}

/* ==========================
        Pagination
============================ */
.pagination {
  margin-block: 1.8rem;
}

.pagination .page-item .page-link {
  padding-inline: 1em;
}

.pagination .page-item:first-child .page-link {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination .page-item:last-child .page-link {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

ul.pagination .page-item.active .page-link,
.pagination .page-item .page-link:focus {
  box-shadow: 0px 0px 5px var(--black);
}

.pagination .page-item .page-link:hover,
.pagination .page-item .page-link:focus {
  border-color: var(--black);
}

.pagination .disabled .page-link {
  background-color: #d1c1c1;
}

/* ==========================
        MovieDetails
============================ */
.movie-details {
  padding: 2.5rem;
}

.movie-details .vote {
  width: 5rem;
  height: 5rem;
}

.movie-details h2 strong {
  font-family: Arial, Helvetica, sans-serif;
}

.movie-details h2 {
  align-items: baseline;
}

.movie-img-container {
  width: 18rem;
}
.badge-wrapper {
  border-bottom: 1px dashed var(--gray);
  padding-bottom: 1.4rem;
  margin-top: 0.8rem;
}

.movie-details section h3 {
  padding-top: 0.5em;
  margin-bottom: 0.8em;
}

.movie-details section h3 + p {
  line-height: 1.8;
  font-size: 1.1rem;
  border-bottom: 1px solid #aeaeae;
  padding-bottom: 2.5rem;
  text-wrap: pretty;
  max-width: 65ch;
}

.movie-details section h4 {
  color: var(--dark-gray);
}

/* ==========================
        Loader
============================ */
.loader {
  background: rgb(0 0 0/ 30%);
  z-index: 1000;
  height: 100vh;
}

/* ==========================
        NotFound
============================ */
.not-found {
  padding-block: 5rem;
  font-family: "Almarai", sans-serif;
}

.not-found button,
.go-home button {
  padding: 0.5em 1em;
}

/* ==========================
       Medi query
============================ */
@media (max-width: 992px) {
  .bottom-content {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .details-container,
  .movie-details h2 {
    flex-direction: column;
    align-items: center;
  }

  .movie-details {
    width: 100%;
  }

  .movie-details h2,
  .movie-details .badge-wrapper,
  .movie-img-container {
    margin-inline: auto;
  }

  .movie-details h2 time {
    order: 1;
  }

  .details-container section h3 {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .movie-details {
    padding: 1rem;
  }

  .search input {
    width: 100%;
  }
}
